@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", "Roboto", Helvetica, Arial, sans-serif;
  background-color: black;
}

.App > h2{
  width: 92%;
  margin: 0 auto;
  color: white;
}